# Carga y preprocesamiento de datos

### _Carga de la [base de datos](https://archive.ics.uci.edu/dataset/2/adult) obtenida._

In [2]:
# Importamos librerías

import requests
import re
import os
import sys

In [4]:
# Creamos una carpeta para que contenga a nuestro dataset
if not os.path.exists('dataset'):
    os.makedirs('dataset')

In [5]:
#ahora descargamos el dataset
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.data'
url2 = 'https://archive.ics.uci.edu/ml/machine-learning-databases/adult/adult.names'

def descargar_dataset(url, filename):
    response = requests.get(url)
    if response.status_code == 200:
        with open('dataset/' + filename, 'w') as f:
            f.write(response.text)
    else:
        print('Error al descargar el dataset')
        sys.exit(1)

descargar_dataset(url, 'adult.data')
descargar_dataset(url2, 'adult.names')

In [6]:
# Ahora vamos a leer el dataset
def leer_dataset(filename):
    with open('dataset/' + filename, 'r') as f:
        lines = f.readlines()
    return lines

data = leer_dataset('adult.data')
names = leer_dataset('adult.names')

In [7]:
import pandas as pd
# Leemos datos
df = pd.read_csv('dataset/adult.data', header=None)

### Previsualización del head de la base de datos

In [8]:
df.head() #ya tenemos los datos, ahora nos faltan los nombres de las columnas

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

### Obtención de columnas del df mediante expresiones regulares

In [9]:
#creacion de columnas para el dataset
#primero leemos el archivo .names para obtener los nombres de las columnas
names

['| This data was extracted from the census bureau database found at\n',
 '| http://www.census.gov/ftp/pub/DES/www/welcome.html\n',
 '| Donor: Ronny Kohavi and Barry Becker,\n',
 '|        Data Mining and Visualization\n',
 '|        Silicon Graphics.\n',
 '|        e-mail: ronnyk@sgi.com for questions.\n',
 '| Split into train-test using MLC++ GenCVFiles (2/3, 1/3 random).\n',
 '| 48842 instances, mix of continuous and discrete    (train=32561, test=16281)\n',
 '| 45222 if instances with unknown values are removed (train=30162, test=15060)\n',
 '| Duplicate or conflicting instances : 6\n',
 '| Class probabilities for adult.all file\n',
 "| Probability for the label '>50K'  : 23.93% / 24.78% (without unknowns)\n",
 "| Probability for the label '<=50K' : 76.07% / 75.22% (without unknowns)\n",
 '|\n',
 '| Extraction was done by Barry Becker from the 1994 Census database.  A set of\n',
 '|   reasonably clean records was extracted using the following conditions:\n',
 '|   ((AAGE>16) && (AGI>100) && (AFNLWGT>1)&& (HRSWK>0))\n',
 '|\n',
 '| Prediction task is to determine whether a person makes over 50K\n',
 '| a year.\n',
 '|\n',
 '| First cited in:\n',
 '| @inproceedings{kohavi-nbtree,\n',
 '|    author={Ron Kohavi},\n',
 '|    title={Scaling Up the Accuracy of Naive-Bayes Classifiers: a\n',
 '|           Decision-Tree Hybrid},\n',
 '|    booktitle={Proceedings of the Second International Conference on\n',
 '|               Knowledge Discovery and Data Mining},\n',
 '|    year = 1996,\n',
 '|    pages={to appear}}\n',
 '|\n',
 '| Error Accuracy reported as follows, after removal of unknowns from\n',
 '|    train/test sets):\n',
 '|    C4.5       : 84.46+-0.30\n',
 '|    Naive-Bayes: 83.88+-0.30\n',
 '|    NBTree     : 85.90+-0.28\n',
 '|\n',
 '|\n',
 '| Following algorithms were later run with the following error rates,\n',
 '|    all after removal of unknowns and using the original train/test split.\n',
 '|    All these numbers are straight runs using MLC++ with default values.\n',
 '|\n',
 '|    Algorithm               Error\n',
 '| -- ----------------        -----\n',
 '| 1  C4.5                    15.54\n',
 '| 2  C4.5-auto               14.46\n',
 '| 3  C4.5 rules              14.94\n',
 '| 4  Voted ID3 (0.6)         15.64\n',
 '| 5  Voted ID3 (0.8)         16.47\n',
 '| 6  T2                      16.84\n',
 '| 7  1R                      19.54\n',
 '| 8  NBTree                  14.10\n',
 '| 9  CN2                     16.00\n',
 '| 10 HOODG                   14.82\n',
 '| 11 FSS Naive Bayes         14.05\n',
 '| 12 IDTM (Decision table)   14.46\n',
 '| 13 Naive-Bayes             16.12\n',
 '| 14 Nearest-neighbor (1)    21.42\n',
 '| 15 Nearest-neighbor (3)    20.35\n',
 '| 16 OC1                     15.04\n',
 '| 17 Pebls                   Crashed.  Unknown why (bounds WERE increased)\n',
 '|\n',
 '| Conversion of original data as follows:\n',
 '| 1. Discretized agrossincome into two ranges with threshold 50,000.\n',
 '| 2. Convert U.S. to US to avoid periods.\n',
 '| 3. Convert Unknown to "?"\n',
 '| 4. Run MLC++ GenCVFiles to generate data,test.\n',
 '|\n',
 '| Description of fnlwgt (final weight)\n',
 '|\n',
 '| The weights on the CPS files are controlled to independent estimates of the\n',
 '| civilian noninstitutional population of the US.  These are prepared monthly\n',
 '| for us by Population Division here at the Census Bureau.  We use 3 sets of\n',
 '| controls.\n',
 '|  These are:\n',
 '|          1.  A single cell estimate of the population 16+ for each state.\n',
 '|          2.  Controls for Hispanic Origin by age and sex.\n',
 '|          3.  Controls by Race, age and sex.\n',
 '|\n',
 '| We use all three sets of controls in our weighting program and "rake" through\n',
 '| them 6 times so that by the end we come back to all the controls we used.\n',
 '|\n',
 '| The term estimate refers to population totals derived from CPS by creating\n',
 '| "weighted tallies" of any specified socio-economic characteristics of the\n',
 '| population.\n',
 '|\n',
 '| People with similar demographic characteristics should have\n',
 '| similar weights.  There is one important caveat to remember\n',
 '| about this statement.  That is that since the CPS sample is\n',
 '| actually a collection of 51 state samples, each with its own\n',
 '| probability of selection, the statement only applies within\n',
 '| state.\n',
 '\n',
 '\n',
 '>50K, <=50K.\n',
 '\n',
 'age: continuous.\n',
 'workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.\n',
 'fnlwgt: continuous.\n',
 'education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.\n',
 'education-num: continuous.\n',
 'marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.\n',
 'occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.\n',
 'relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.\n',
 'race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.\n',
 'sex: Female, Male.\n',
 'capital-gain: continuous.\n',
 'capital-loss: continuous.\n',
 'hours-per-week: continuous.\n',
 'native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.\n']

In [10]:
#podemos comprobar que el nombre de las columnas est'a despues de '>50K, <=50K.\n','\n', son age, workclass, fnlwgt, ect
#ahora vamos a extraer los nombres de las columnas usando expresiones regulares para llegar a la parte que nos interesa
metadata = names[96:]
metadata

['age: continuous.\n',
 'workclass: Private, Self-emp-not-inc, Self-emp-inc, Federal-gov, Local-gov, State-gov, Without-pay, Never-worked.\n',
 'fnlwgt: continuous.\n',
 'education: Bachelors, Some-college, 11th, HS-grad, Prof-school, Assoc-acdm, Assoc-voc, 9th, 7th-8th, 12th, Masters, 1st-4th, 10th, Doctorate, 5th-6th, Preschool.\n',
 'education-num: continuous.\n',
 'marital-status: Married-civ-spouse, Divorced, Never-married, Separated, Widowed, Married-spouse-absent, Married-AF-spouse.\n',
 'occupation: Tech-support, Craft-repair, Other-service, Sales, Exec-managerial, Prof-specialty, Handlers-cleaners, Machine-op-inspct, Adm-clerical, Farming-fishing, Transport-moving, Priv-house-serv, Protective-serv, Armed-Forces.\n',
 'relationship: Wife, Own-child, Husband, Not-in-family, Other-relative, Unmarried.\n',
 'race: White, Asian-Pac-Islander, Amer-Indian-Eskimo, Other, Black.\n',
 'sex: Female, Male.\n',
 'capital-gain: continuous.\n',
 'capital-loss: continuous.\n',
 'hours-per-week: continuous.\n',
 'native-country: United-States, Cambodia, England, Puerto-Rico, Canada, Germany, Outlying-US(Guam-USVI-etc), India, Japan, Greece, South, China, Cuba, Iran, Honduras, Philippines, Italy, Poland, Jamaica, Vietnam, Mexico, Portugal, Ireland, France, Dominican-Republic, Laos, Ecuador, Taiwan, Haiti, Columbia, Hungary, Guatemala, Nicaragua, Scotland, Thailand, Yugoslavia, El-Salvador, Trinadad&Tobago, Peru, Hong, Holand-Netherlands.\n']

In [14]:
#ahora que estamos en esa parte, vamos a extraer los nombres de las columnas
#desde age hasta native-country nos interesan
nombre_columnas = []
for i in range(14):
    nombre_columnas.append(metadata[i].split(':')[0])

nombre_columnas

['age',
 'workclass',
 'fnlwgt',
 'education',
 'education-num',
 'marital-status',
 'occupation',
 'relationship',
 'race',
 'sex',
 'capital-gain',
 'capital-loss',
 'hours-per-week',
 'native-country']

In [18]:
#ahora solo queda asignar los nombres de las columnas al dataframe
df.columns = nombre_columnas
df

ValueError: Length mismatch: Expected axis has 15 elements, new values have 14 elements

In [19]:
df.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K

In [20]:
#vemos que nos da un error que nos falta una fila, podemos ver en nuestro df que lla ultima fila trata de la capacidad monetaria de la persona
#por lo que vamos a cambiar el nombre de la columna a 'income'
df.columns = nombre_columnas + ['income']
df.head(2)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K